.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.centered {
  margin: 15px auto;
}

.v-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-card {
  height: 100%;
}

.card-element-image {
  height: 64px;
  margin-bottom: 5px;
}

.animation-default-state {
  opacity: 0;
}

.round {
  border-radius: 50%;
}

#heart-pulse {
  display: inline-block;

  animation: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}